/* Write your CSS here */
.app-container {
  background-color: #93c5fd;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.capitals-container {
  background-color: #f8fafc;
  border-radius: 10px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
}
.heading {
  font-size: 32px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #000000;
}
.select-list {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 30px;
  padding-left: 10px;
  border: 1px solid #cbd2d9;
  background-color: transparent;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  outline: none;
  cursor: pointer;
}
.description {
  color: #323f4b;
  font-size: 18px;
}
.capital {
  font-size: 26px;
  font-weight: 500;
  font-family: 'Roboto';
}
.select-container {
  display: flex;
}
